<div class="container">
  <div class="columns">
    <div class="column has-text-centered has-text-weight-bold">
      <% if @category.new_record? %>
        <span class="is-size-1">Nueva categoría</span>
      <% else %>
        <span class="is-size-1">Editar categoría - <%= @category.name %> </span>
      <% end %>      
    </div>
  </div>
  
  <%= form_with(model: category) do |form| %>
    <div class="columns">
      <div class="column column has-text-right">
          <%= link_to 'Volver', :back, class: "button" %>          
          <%= form.submit "Guardar", class: "button is-success" %>
      </div>
    </div>
    
    <% if category.errors.any? %>
      <div class="columns">
        <div class="column">
          <div id="error_explanation">
            <ul>
              <% category.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>      

    <div class="columns is-justify-content-center box has-background-light">
      <div class="column is-half">
        <div class="field">
          <%= form.text_field :name, class: "input is-normal", placeholder: "Nombre", required: true %>
        </div>
        <div class="field">
          <%= form.number_field :position, class: "input is-normal", placeholder: "Posición" %>
        </div>
        <%= form.hidden_field :parent_id, class: "input is-normal", value: params[:cat_father].present? ? params[:cat_father] : nil %>
      </div>
    </div>
  <% end %>
  
  <% if @category.subcategories.present? &&  %>
    <div class="column has-text-centered has-text-weight-bold">
      <span class="is-size-3">CATEGORÍAS HIJAS</span>
      <% if @category.subcategories.present? %>
        <div class="columns is-multiline mt-4 is-justify-content-center">
          <% @category.subcategories.each do |cat_child| %>
            <div class="column box has-background-light mb-5 is-7 has-text-left">
              <div class="columns">
                <div class="column">
                  <span>Nombre: <%= cat_child.name %></span>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <span>Posición: <%= cat_child.position %></span>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                    <%= link_to image_tag("icons/icon-edit.svg", size: "20x20"), edit_category_path(cat_child) %>
                    <%= link_to image_tag("icons/icon-delete.svg", size: "20x20"), cat_child, method: :delete, data: { confirm: '¿Estás seguro?' } %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>