<div class="container">
  <div class="columns">
    <div class="column has-text-centered has-text-weight-bold">
      <% if @category.new_record? %>
        <span class="is-size-1">Nueva categoría</span>
      <% else %>
        <span> class="is-size-1">Editar categoría</span>
      <% end %>
    </div>
  </div>

  <div class="columns">
    <%= form_with(model: category) do |form| %>
      <div class="column">
        <div class="columns">
          <div class="column">
            <div class="actions">
              <%= form.submit %>
            </div>
          </div>
          <div class="column">
            <%= link_to 'Volver', categories_path %>
          </div>
        </div>        
      </div>

      <div class="column">
        <% if category.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% category.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div class="column">
        <div class="field">
          <%= form.label :name, "Nombre" %>
          <%= form.text_field :name, required: true %>
        </div>

        <div class="field">
          <%= form.label :position, "Posición" %>
          <%= form.number_field :position, required: true %>
        </div>
      </div>
    <% end %>
  </div>

  
</div>