<div class="container">
  <div class="columns">
    <div class="column has-text-centered has-text-weight-bold">
      <% if @category.new_record? %>
        <span class="is-size-1">Nueva categoría</span>
      <% else %>
        <span class="is-size-1">Editar categoría</span>
      <% end %>
    </div>
  </div>

  
  <%= form_with(model: category) do |form| %>
    <div class="columns">
      <div class="column column has-text-right">
          <%= link_to 'Volver', categories_path, class: "button" %>          
          <%= form.submit "Guardar", class: "button is-success" %>
      </div>
    </div>
    
    <% if category.errors.any? %>
      <div class="columns">
        <div class="column">
          <div id="error_explanation">
            <ul>
              <% category.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>      

    <div class="columns is-justify-content-center box has-background-light">
      <div class="column is-half">
        <div class="field">
          <%= form.text_field :name, class: "input is-normal", placeholder: "Nombre", required: true %>
        </div>
        <div class="field">
          <%= form.number_field :position, class: "input is-normal", placeholder: "Posición", required: true %>
        </div>
      </div>
    </div>
  <% end %>
  

  
</div>